/*------------------CONTACT------------------*/

.contact {
    background-image: url(../images/image_contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 100px;

}


.blocliens{
    height: 500px;
    padding-top: 20vh;
}

.bloccontact{
   display: inline-flex;
    padding: 20px;
    margin: 20px;
}

.bloccontact p{
    padding: 20px;
}


.iconecontact{
    height: 8vh;
    opacity: 0.8;
    
}
