/*------------------COMPETENCES------------------*/
main{
    height: 90vh;
}

@media only screen and (max-width: 1200px) {
    main {
        height: auto;
    }
    
}

#competences {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #1B1A28;
    text-align: center;
}

#competences h2 {
    color: #1B1A28;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icone {
    height: 100px;
    margin: 20px;
}

.competence {
    margin-top: 50px;

}

.competence h4 {
    margin-bottom: 30px;
}
